# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
dist/
build/
*.egg-info/

# Node/React
node_modules/
dist/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# OS
# Firebase
.firebase/
firebase-debug.log
.firebaserc
